*{
    box-sizing: border-box;
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
    
body{
    margin: 0;
}
.background-s{
    background-image: url(img/coffee-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
}
.circle {
    width: 275px; 
    max-height: 275px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    border: 8px solid rgb(129, 97, 59);
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.circle .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.background-m{
    background-image: url(img/cafe-bg-f.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.custom-border{
    border: 1px solid rgb(102, 142, 104);
    background-color: rgba(255, 255, 255, 1.00);
}
.circle-container {
    position: absolute;
    bottom: 15px;
    right: 0; 
    z-index: 10;
}
.circle-f {
    width: 30px;
    height: 30px;
    background-color: rgb(102, 142, 104);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid rgb(255, 255, 255);
}

@media (max-width: 1200px) {
    .background-s {
        padding: 7rem 0;
    }
    .circle {
        width: 220px;
        max-height: 220px;
    }
    .background-m {
        padding: 7rem 0;
    }
}
@media (max-width: 992px) {
    .background-s {
        padding: 5rem 0;
    }
    .circle {
        width: 200px;
        max-height: 200px;
        border: 6px solid rgb(129, 97, 59);
    }
    .background-m {
        padding: 5rem 0;
    }
}
@media (max-width: 768px) { 
    .background-s {
        padding: 4rem 0;
    }
    .row {
        row-gap: 10px;
        justify-content: center;
    }
    .circle {
        width: 160px;
        max-height: 160px;
        border: 6px solid rgb(129, 97, 59);
    }
    .background-m {
        padding: 4rem 0;
    }
}
@media (max-width: 576px) { 
    .background-s {
        padding: 2.5rem 0;
    }
    .text-center.py-4 {
        padding-top: 0.50rem;
        padding-bottom: 0.50rem; 
      }
    .row {
        flex-direction: column;
        column-gap: 25px;
        align-items: center;
    }
    .circle {
        width: 240px;
        max-height: 240px;
        border: 7px solid rgb(129, 97, 59);
    }
    .px-5 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .background-m {
        padding: 2.5rem 0;
    }
    .circle-container {
        position: absolute;
        bottom: 35px;
        right: 10px;
    }
}